* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    overflow-x: hidden;
}


main {
    margin: 20% 8%;
}

/* ----- MEDIA QUERIES ----- */
/* DESKTOP */
@media (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        margin: 40% 10% 10% 10%;
        border-bottom: 1px solid lightgray;
    }

}